<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car Models</title>
</head>

<body>
<div th:unless="${carModels.size} == 0">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Body Id</th>
            <th>Brand Id</th>
            <th>Fuel Id</th>
            <th>Production year</th>
            <th>Engine Displacement</th>
            <th>Name</th>
            <th>Gearbox Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="carModel : ${carModels}">
            <td><span th:text="${carModel.getId}"> Id </span></td>
            <td><span th:text="${carModel.getBodyId}"> Body Id </span></td>
            <td><span th:text="${carModel.getBrandId}"> Brand Id </span></td>
            <td><span th:text="${carModel.getFuelId}"> Fuel Id </span></td>
            <td><span th:text="${carModel.getProductionYear}"> Production year </span></td>
            <td><span th:text="${carModel.getEngineDisplacement}"> Engine Displacement </span></td>
            <td><span th:text="${carModel.getName}"> Name </span></td>
            <td><span th:text="${carModel.getGearboxType}"> Gearbox Type </span></td>
        </tr>
        </tbody>
    </table>

    </br>

    <text>Please choose page number</text>
    <div th:if="${((recordsNumber + 0.0) / pageSize - (recordsNumber) / pageSize) > 0}">
        <div th:with="del = ${(recordsNumber + 0.0) / pageSize}">
            <text th:each="i : ${#numbers.sequence(0, del)}">
                <a th:href="@{/carmodels(pageNumber=${i}, pageSize=${pageSize})}">
                    <text th:text="${i + 1}"></text>
                </a>
            </text>
        </div>
    </div>

    <div th:if="${(((recordsNumber + 0.0) / pageSize) - ((recordsNumber) / pageSize)) == 0}">
        <div th:with="del = ${(recordsNumber + 0.0) / pageSize - 1}">
            <text th:each="i : ${#numbers.sequence(0, del)}">
                <a th:href="@{/carmodels(pageNumber=${i}, pageSize=${pageSize})}">
                    <text th:text="${i + 1}"></text>
                </a>
            </text>
        </div>
    </div>

    </br>

    <div th:if="${pageNumber + 1 < (0.0 + recordsNumber) / pageSize}">
        <a th:href="@{/carmodels(pageNumber=${pageNumber+1}, pageSize=${pageSize})}">Next page</a>
    </div>

    <div th:if="${pageNumber} != 0 and ${carModels.size} != 0">
        <a th:href="@{/carmodels(pageNumber=${pageNumber - 1}, pageSize=${pageSize})}">Previous page</a>
    </div>
</div>

<div th:if="${carModels.size} == 0">
    <text>There are no more records. You can</text>
    <a th:href="@{/carmodels(pageNumber=0, pageSize=${pageSize})}">return to the first page</a>
</div>
</body>

</html>