<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update car brand</title>
</head>

<body>
<form th:object="${carBrand}" th:action="@{/carbrands/edit}" th:method="post">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <input type="hidden" th:field="*{id}" id="id">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>

    <input type="submit" value="Update"/>
</form>
</body>

</html>