<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        .layer {
            overflow: scroll;
            width: 600px;
            height: 50px;
            padding: 5px;
            border: solid 1px black;
        }
    </style>
</head>

<body>
<div th:unless="${users.size} == 0">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Discount Card Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/users/__${user.getId}__}">
                    <text th:text="${user.getId}">Id</text>
                </a>
            </td>
            <td><span th:text="${user.getDiscountCardId}"> Discount Card Id </span></td>
            <td><span th:text="${user.getEmail}"> Email </span></td>
            <td><span th:text="${user.getPassword}"> Password </span></td>
            <td><span th:text="${user.getType}"> Type </span></td>
        </tr>
        </tbody>
    </table>

    </br>

    <text>Please choose page number</text>
    <div class="layer">
        <div th:if="${((recordsNumber + 0.0) / pageSize - (recordsNumber) / pageSize) > 0}">
            <div th:with="del = ${(recordsNumber + 0.0) / pageSize}">
                <text th:each="i : ${#numbers.sequence(0, del)}">
                    <a th:href="@{/users(pageNumber=${i}, pageSize=${pageSize})}">
                        <text th:text="${i + 1}"></text>
                    </a>
                </text>
            </div>
        </div>

        <div th:if="${(((recordsNumber + 0.0) / pageSize) - ((recordsNumber) / pageSize)) == 0}">
            <div th:with="del = ${(recordsNumber + 0.0) / pageSize - 1}">
                <text th:each="i : ${#numbers.sequence(0, del)}">
                    <a th:href="@{/users(pageNumber=${i}, pageSize=${pageSize})}">
                        <text th:text="${i + 1}"></text>
                    </a>
                </text>
            </div>
        </div>
    </div>

    </br>

    <div th:if="${pageNumber + 1 < (0.0 + recordsNumber) / pageSize}">
        <a th:href="@{/users(pageNumber=${pageNumber+1}, pageSize=${pageSize})}">Next page</a>
    </div>

    <div th:if="${pageNumber} != 0 and ${users.size} != 0">
        <a th:href="@{/users(pageNumber=${pageNumber - 1}, pageSize=${pageSize})}">Previous page</a>
    </div>
</div>

<div th:if="${users.size} == 0">
    <text>There are no more records. You can</text>
    <a th:href="@{/users(pageNumber=0, pageSize=${pageSize})}">return to the first page</a>
</div>
<div th:unless="${users.size} == 0">
    <form th:method="get" th:action="@{/users/add}">
        <input type="submit" value="Add user"/>
    </form>
</div>

<div th:unless="${users.size} != 0">
    <form th:method="get" th:action="@{/users/managers/assign}">
        <input type="submit" value="Assign customer to manager"/>
    </form>
</div>

<div th:unless="${users.size} != 0">
    <form th:method="get" th:action="@{/users/managers/unassign}">
        <input type="submit" value="Unassign customer from manager"/>
    </form>
</div>
</body>

</html>