<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Discount Card</title>
</head>

<body>
<p th:text="${'ID: ' + discountCard.getId()}">ID</p>
<p th:text="${'Discount Value: ' + discountCard.getDiscountValue}">Discount Value</p>
<p th:text="${'Card Number: ' + discountCard.getCardNumber}">Card Number</p>

<form th:method="get" th:action="@{/discountcards/__${discountCard.getId}__/edit}">
    <input type="submit" value="Edit record"/>
</form>
<br>

<form th:method="post" th:action="@{/discountcards/__${discountCard.getId}__/delete}">
    <input type="submit" value="Delete record"/>
</form>
<br>

<form th:method="get" th:action="@{/discountcards}">
    <input type="submit" value="Back to the table"/>
</form>
</body>

</html>
